<div id="field_groups_title" style="margin-bottom: 20px">
  <h1 style="display:inline">Field Groups</h1>
  <div style="float:right">
    <%= link_to 'Add a group', new_field_group_path, :class => 'btn', remote: true %>
  </div>
</div>
<div id="field_groups_form">
</div>
<div id="field_groups_info">
  <%= render @field_groups %>
</div>

