<h1>Field Groups</h1>
<table class="table table-striped" id="field_groups">
  <thead>
    <tr>
      <th>ID</th>
      <th>Label</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @field_groups %>
  </tbody>
</table>

<br />

<h3>New</h3>
<div id="field_group_form">
  <%= render :partial => 'form' %>
</div>
