<div id=<%= "field_group_#{field_group.id}_container" %> style="border:2px solid #999; margin: 20px;">
  <h3 align="center"><%= field_group.name %></h3>
  <% field_group.fields.each do | field | %>
    <div class="control-group">
      <%= f.label field.name, field.label, :class => 'control-label' %>
      <div class="controls">
        <% checked = YAML.load(f.object.send(field.name).to_s) if field.as == 'check_boxes' %>
        <%= f.text_field field.name, field.input_options.merge(checked: checked) %>
      </div>
    </div>
  <% end %>
</div>
