<div id="field_groups">
  <% FieldGroup.all.each do |field_group| %>
    <% if field_group.fields.present? %>
      <%= render :partial => 'fields/group', :locals => {f: f, field_group: field_group} %>
    <% end %>
  <% end %>
</div>
